# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/backend/adoorback/.idea/
.idea/

# dependencies
node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# backend
/backend/swpp-env/*
/backend/.vscode/*

/backend/*.log
/backend/*.pot
/backend/*.pyc
/backend/*/*/*.pyc
/backend/*/*.pyc
/backend/*/*/*/*.pyc
/backend/__pycache__/
/backend/local_settings.py
/backend/db.sqlite3
/backend/media
/backend/*/*/__pycache__/
/backend/*/__pycache__/
/backend/*/*/*/__pycache__/
/backend/adoorback/*/migrations/

/backend/adoorback/.coverage
/backend/adoorback/db.sqlite3