# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.idea/
.DS_Store

## Frontend
# dependencies
node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage
/backend/adoorback/.coverage

# production
/frontend/build

# misc
.DS_Store
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*


## Backend
# misc
/backend/swpp-env/*
/backend/.vscode/*
/backend/adoorback/.coverage
/backend/.DS_Store
/backend/adoorback/.idea/

# pycache
/backend/__pycache__/
/backend/*/*/__pycache__/
/backend/*/__pycache__/
/backend/*/*/*/__pycache__/

# db
/backend/adoorback/*/migrations/
/backend/adoorback/db.sqlite3